{% extends "base.html" %}
{% load static %}


{% block Title %}
	{{webname}}-{{judul}}
{% endblock Title %}

{% block contents %}


<div class="desktop">
    <h1 id="judul">{{judul}}</h1>
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <div>
        <h1>{{content}}</h1>
      </div>

    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}" class="send-btn">login</a>
    {% endif %}
</div>

<div class="mobile">
  <div class="header">
    
    {% if user.is_authenticated %}
    <div class="topbar">
      <a href="{% url 'berita' %}" class="nv-btn">&nbsp;&nbsp;Berita&nbsp;&nbsp;</a>
      <a href="{% url 'home' %}" class="nv-btn" id="nv-btn-slc">Beranda</a>
      <a href="{% url 'kultur' %}" class="nv-btn">Kultur</a>
    </div>

    <div class="botbar">
      <a href="">Guide</a>
      <a href="">Activity</a>
      <a href="">&nbsp;&nbsp;Post&nbsp;&nbsp;</a>
      <a href="">Wishlist</a>
      <a href="">Profile</a>
    </div>

    <div class="home">
        <div class="singlepost">
            <p>{{p_kategori}}&nbsp;-&nbsp;{{p_lokasi}}</p>
            <h1>{{p_judul}}</h1>
            <img id="img-singlepost" src="{% static 'media/' %}{{p_img}}">
            <p id="singlepost">{{p_body}}</p>
        </div>
        
        <div id="map"></div>

        <div class="postcomment">
          <h2>komentar</h2>
          <div class="commentfield">
              {% for cmnt in comments %}
              {% if cmnt.forSosmed == p_slug %}
              <div class="commentbox">
                  <h3>{{cmnt.user}}</h3>
                  <p>{{cmnt.comment}}</p>
              </div>
              {% endif %}
              {% endfor %}
          </div>
            <form method="POST">
                {% csrf_token %}
                {{form}}
            </form>
        </div>
    </div>

    {% else %}
    <h1 id="judul">{{judul}}</h1>
    <div class="not-logged">
      <p style="margin-bottom: 10px;">You are not logged in</p>
      <a href="{% url 'login' %}" id="register" class="send-btn">login</a>
      <a href="register" id="register" class="send-btn">Join us</a>
    </div>
    <div class="foot">
      <p>.demo created by <i class='fab fa-github' style="margin-right: 5px; margin-left: 10px;"></i>devfdL</p>
    </div>
    {% endif %}
</div>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDl2ctFiidjmGMBVwssAUw9IDp_Sp4OEdQ&callback=initMap" async defer></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="{% static 'js/index.js' %}"></script>

{% endblock contents %}